{{>layouts/header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">저자 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">저자 목록</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary" onclick="location.href='/author/insert'"> 저자 등록 </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-md-1"> 번호 </th>
                                    <th class="col-md-1"> 이름 </th>
                                    <th class="col-md-1"> 사용여부 </th>
                                    <th class="col-md-1"> 등록일 </th>
                                    <th class="col-md-1"> 수정일 </th>
                                </thead>
                                <tbody>
                                {{#authors}}
                                    <tr>
                                        {{#authorSeq}}<td class="col-md-1">{{authorSeq}}</td>{{/authorSeq}}
                                        {{^authorSeq}}<td class="col-md-1"> - </td>{{/authorSeq}}

                                        {{#authorKrName}}<td class="col-md-1">{{authorKrName}}</td>{{/authorKrName}}
                                        {{^authorKrName}}<td class="col-md-1"> - </td>{{/authorKrName}}

                                        {{#useYn}}<td class="col-md-1">{{useYn}}</td>{{/useYn}}
                                        {{^useYn}}<td class="col-md-1"> - </td>{{/useYn}}

                                        {{#appendDate}}<td class="col-md-1">{{appendDate}}</td>{{/appendDate}}
                                        {{^appendDate}}<td class="col-md-1"> - </td>{{/appendDate}}

                                        {{#updateDate}}<td class="col-md-1">{{updateDate}}</td>{{/updateDate}}
                                        {{^updateDate}}<td class="col-md-1"> - </td>{{/updateDate}}

                                    </tr>
                                {{/authors}}
                                {{^authors}}
                                    <tr>
                                        <td colspan="7"> 등록된 저자가 없습니다. </td>
                                    </tr>
                                {{/authors}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{>layouts/footer}}