{{>layouts/header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">저자 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">저자 목록</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary" onclick="location.href='/author/insert'"> 저자 등록 </button>
                        <input class="align-self-end" type="text" name="searchKeyword" id="searchKeyword" ><button id="searchBtn">저자 검색</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-md-1"> 번호 </th>
                                    <th class="col-md-1"> 이름 </th>
                                    <th class="col-md-1"> 사용여부 </th>
                                    <th class="col-md-1"> 등록일 </th>
                                    <th class="col-md-1"> 수정일 </th>
                                </thead>
                                <tbody id="authorList">
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagingNav">
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/author.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            main.getAuthorList(1,10);
        });
    </script>
{{>layouts/footer}}