<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">저자</div>
                <a class="nav-link" href="/author/list">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-flag"></i></div>
                    저자 관리
                </a>

                <div class="sb-sidenav-menu-heading">주간 논평</div>
                <a class="nav-link" href="/weeklyComment/list">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-weebly"></i></div>
                    주간 논평 관리
                </a>

                <div class="sb-sidenav-menu-heading">계간지</div>
                <a class="nav-link" href="/magazine/list">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-weebly"></i></div>
                    계간지 관리
                </a>
                <a class="nav-link" href="/article/list">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-weebly"></i></div>
                    계간지-아티클 관리
                </a>

                <div class="sb-sidenav-menu-heading">상품</div>
                <a class="nav-link" href="/product/list">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-flag"></i></div>
                    구독권 관리
                </a>


                <div class="sb-sidenav-menu-heading">회원</div>
                <a class="nav-link" href="/member/list">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-flag"></i></div>
                    회원 관리
                </a>

            </div>
        </div>
        <!--<div class="sb-sidenav-footer">
            {{#userName}}
            <div class="small">Logged in as:</div>
                {{userName}}
        {{/userName}}
        </div>-->
    </nav>
</div>