<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                {{#SUPER}}
                    <div class="sb-sidenav-menu-heading">사용자</div>
                    <a class="nav-link" href="/users">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                        사용자 목록
                    </a>
                {{/SUPER}}
                <div class="sb-sidenav-menu-heading">주간 논평</div>
                <a class="nav-link" href="/weeklyComments">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-weebly"></i></div>
                    주간 논평 관리
                </a>

                <div class="sb-sidenav-menu-heading">회원</div>
                <a class="nav-link" href="/members">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-flag"></i></div>
                    회원 관리
                </a>


            </div>
        </div>
        <!--<div class="sb-sidenav-footer">
            {{#userName}}
            <div class="small">Logged in as:</div>
                {{userName}}
        {{/userName}}
        </div>-->
    </nav>
</div>