<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changbi.magazineadmin.repository.mysql.AuthorRepository">

    <select id="selectAuthorAll" resultType="author">
        SELECT
            *
        FROM
            AUTHOR
        ORDER BY AUTHOR_SEQ DESC
    </select>

    <select id="selectAuthorById" resultType="author">
        SELECT
            *
        FROM
            AUTHOR
        WHERE
            AUTHOR_SEQ = #{authorSeq}
    </select>

    <select id="selectAuthorByKeyword" parameterType="String" resultType="author">
        SELECT *
        FROM AUTHOR
        WHERE AUTHOR_KR_NAME LIKE CONCAT('%',#{keyword},'%')
        ORDER BY AUTHOR_SEQ DESC
    </select>

    <insert id="insertAuthor" parameterType="author">
        INSERT INTO AUTHOR
            (
             AUTHOR_KR_NAME,
             AUTHOR_CH_NAME,
             AUTHOR_EN_NAME,
             AUTHOR_CONTENT,
             AUTHOR_THUMBNAIL_IMAGE,
             AUTHOR_THUMBNAIL_IMAGE_FILE_NAME,
             APPEND_DATE,
             UPDATE_DATE,
             USE_YN
             )
        VALUES
            (
             #{authorKrName},
             #{authorChName},
             #{authorEnName},
             #{authorContent},
             #{authorThumbnailImage},
             #{authorThumbnailImageFileName},
             NOW(),
             NOW(),
             #{useYn}
             )
    </insert>

    <update id="updateAuthor" parameterType="author">
        UPDATE AUTHOR
        SET
            AUTHOR_KR_NAME = #{authorKrName},
            AUTHOR_CH_NAME = #{authorChName},
            AUTHOR_EN_NAME = #{authorEnName},
            AUTHOR_THUMBNAIL_IMAGE = #{authorThumbnailImage},
            AUTHOR_THUMBNAIL_IMAGE_FILE_NAME = #{authorThumbnailImageFileName},
            AUTHOR_CONTENT = #{authorContent},
            USE_YN = #{useYn},
            UPDATE_DATE = NOW()
        WHERE AUTHOR_SEQ = #{authorSeq}
    </update>

    <delete id="deleteAuthor">
        DELETE FROM AUTHOR
        WHERE AUTHOR_SEQ = #{authorSeq}
    </delete>
</mapper>