<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changbi.magazineadmin.repository.mysql.MagazineRepository">

    <select id="selectMagazineAll" resultType="magazine">
        SELECT *
        FROM MAGAZINE
        ORDER BY MAGAZINE_SEQ DESC
    </select>

    <select id="selectMagazineBySearch" resultType="magazine">
        SELECT *
        FROM MAGAZINE
        WHERE 1=1
        <if test='searchKeyword != null and (!searchKeyword.equals(""))'>
        AND MAGAZINE_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
        </if>
        <if test='searchType != null and searchType > 0'>
        AND MAGAZINE_CATEGORY_SEQ = #{searchType}
        </if>
        ORDER BY MAGAZINE_SEQ DESC
    </select>

    <insert id="insertMagazine" parameterType="magazine"
            useGeneratedKeys="true" keyProperty="magazineSeq" keyColumn="MAGAZINE_SEQ">
        <![CDATA[
        INSERT INTO MAGAZINE(
            MAGAZINE_CATEGORY_SEQ
            ,MAGAZINE_TITLE
            ,MAGAZINE_CONTENT
            ,MAGAZINE_VOLUME
            ,MAGAZINE_YEAR
            ,MAGAZINE_SEASON
            ,MAGAZINE_THUMBNAIL_IMAGE
            ,MAGAZINE_THUMBNAIL_IMAGE_FILE_NAME
            ,USE_YN
        ) VALUES (
            #{magazineCategorySeq}
            ,#{magazineTitle}
            ,#{magazineContent}
            ,#{magazineVolume}
            ,#{magazineYear}
            ,#{magazineSeason}
            ,#{magazineThumbnailImage}
            ,#{magazineThumbnailImageFileName}
            ,#{useYn}
         )
        ]]>
    </insert>
</mapper>