<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changbi.magazineadmin.repository.mysql.ProductRepository">

    <select id="selectProductAll" resultType="product">
        SELECT *
        FROM PRODUCT
        ORDER BY PRODUCT_SEQ DESC
    </select>

    <select id="selectProductBySeq" resultType="product" parameterType="int">
        SELECT *
        FROM PRODUCT
        WHERE PRODUCT_SEQ = #{productSeq}
    </select>

    <insert id="insertProduct" parameterType="product">
        INSERT INTO PRODUCT
        (
            PRODUCT_TYPE
            ,PRODUCT_NAME
            ,PRODUCT_CONTENT
            ,PRODUCT_PRICE
            ,DISCOUNT_RATE
            ,PRODUCT_PERIOD
            ,PRODUCT_IMAGE_FILE
            ,PRODUCT_IMAGE_FILE_NAME
            ,USE_YN
            <if test="startDate != null and !''.equals(startDate)">
                ,START_DATE
            </if>
            <if test="endDate != null and !''.equals(endDate)">
                ,END_DATE
            </if>
        ) VALUES (
            #{productType}
            ,#{productName}
            ,#{productContent}
            ,#{productPrice}
            ,#{discountRate}
            ,#{productPeriod}
            ,#{productImageFile}
            ,#{productImageFileName}
            ,#{useYn}
            <if test="startDate != null and !''.equals(startDate)">
                ,#{startDate}
            </if>
            <if test="endDate != null and !''.equals(endDate)">
                ,#{endDate}
            </if>
        )
    </insert>

    <update id="updateProduct" parameterType="product">
        UPDATE PRODUCT
        SET
            PRODUCT_TYPE = #{productType}
            ,PRODUCT_NAME = #{productName}
            ,PRODUCT_CONTENT = #{productContent}
            ,PRODUCT_PRICE = #{productPrice}
            ,DISCOUNT_RATE = #{discountRate}
            ,PRODUCT_PERIOD = #{productPeriod}
            ,PRODUCT_IMAGE_FILE = #{productImageFile}
            ,PRODUCT_IMAGE_FILE_NAME = #{productImageFileName}
            ,USE_YN = #{useYn}
            <if test="startDate != null and !''.equals(startDate)">
            ,START_DATE = #{startDate}
            </if>
            <if test="endDate != null and !''.equals(endDate)">
            ,END_DATE = #{endDate}
            </if>
        WHERE PRODUCT_SEQ = #{productSeq}
    </update>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM PRODUCT
        WHERE PRODUCT_SEQ = #{productSeq}
    </delete>
</mapper>