<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changbi.magazineadmin.repository.mysql.WeeklyCommentRepository">

    <select id="selectWCAll" resultType="weeklyComment">
        SELECT
            *
        FROM
            WEEKLY_COMMENT
        ORDER BY WEEKLY_SEQ DESC
    </select>

    <insert id="insertWeeklyComment" parameterType="weeklyComment"
            useGeneratedKeys="true" keyProperty="weeklySeq" keyColumn="WEEKLY_SEQ">
    <![CDATA[
        INSERT INTO WEEKLY_COMMENT (
            WEEKLY_TITLE
            ,WEEKLY_SUBTITLE
            ,WEEKLY_CONTENT
            ,WEEKLY_THUMGNAIL_IMAGE
            ,WEEKLY_THUMGNAIL_IMAGE_FILE_NAME
            ,APPEND_DATE
            ,UPDATE_DATE
            ,VIEW_COUNT
            ,USE_YN
        ) VALUES (
            #{weeklyTitle}
            ,#{weeklySubtitle}
            ,#{weeklyContent}
            ,#{weeklyThumbnailImage}
            ,#{weeklyThumbnailImageFileName}
            ,now()
            ,now()
            ,0
            ,#{useYn}
        )
    ]]>
    </insert>

    <insert id="insertWeeklyAuthor" parameterType="authMeta">
        <![CDATA[
        INSERT INTO AUTHOR_WEEKLY
        (
            AUTHOR_SEQ
            ,WEEKLY_SEQ
        )VALUES
        ]]>
        <foreach collection="list" item="item" separator=",">
        <![CDATA[
        (
            #{item.authorSeq}
            ,#{item.weeklySeq}
        )
        ]]>
        </foreach>
    </insert>

</mapper>