{{>layouts/header}}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">주간논평 등록</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">주간논평</li>
                <li class="breadcrumb-item active">주간논평 수정</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="selectedWeeklySeq" value="{{weeklySeq}}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="inputTitle"> 제목 </label>
                                    <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                    <input type="text" class="form-control " id="inputTitle" placeholder="제목을 입력해 주세요" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="inputSubtitle"> 부제목 </label>
                                    <input type="text" class="form-control " id="inputSubtitle" placeholder="부제목을 입력해 주세요">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 form-check-inline">
                            <label for="inputUseYn">노출 여부</label>
                            <small class="text-muted"><sup  style="color:red;">*</sup></small>
                            <fieldset>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inputUseYn" id="useY" value="true" checked>
                                        <label class="form-check-label" for="useY">Y</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inputUseYn" id="useN" value="false">
                                        <label class="form-check-label" for="useN">N</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#searchAuthModal">
                                    저자 연결
                                </button>
                                <button type="button" class="btn btn-danger" id="resetAuth">
                                    저자 연결 초기화
                                </button>
                                <!-- 저저 연결 Modal START-->
                                <!-- Modal -->
                                <div class="modal fade" id="searchAuthModal" tabindex="-1" role="dialog" aria-labelledby="searchAuthModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="searchModalTitle">저자 검색</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-8 col-sm-2">
                                                            저자 이름
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8 col-sm-6">
                                                                <input type="text" class="form-control " id="searchAuthNm" placeholder="저자">
                                                            </div>
                                                            <div class="col-4 col-sm-6">
                                                                <button class="btn btn-secondary" id="searchAuthBtn">검색</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12" >
                                                        <table class="table">
                                                            <thead>
                                                            <th scope="col">이름1</th>
                                                            <th scope="col">이름2</th>
                                                            </thead>
                                                            <tbody id="searchAuthResult">
                                                            </tbody>
                                                        </table>

                                                        <button type="button" class="btn btn-primary" id="authRegBtn">등록</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 저저 연결 Modal END-->
                                <div id="inputAuthSearch"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputContent"> 본문 </label>
                            <textarea class="form-control" id="inputContent" rows="13"></textarea>
                        </div>

                        <!--표지 이미지 업로드 START-->
                        <div class="row">
                            <!--file upload test-->
                            <div class="col-md-6">
                                <label class="form-label" for="inputImage">섬네일 이미지</label>
                                <input type="file" class="form-control" id="inputFile" name="inputFile" >
                                <input type="hidden" id="uploadValid" value="N">
                                <input type="hidden" id="weeklyThumbnailImage" >
                                <input type="hidden" id="weeklyThumbnailImageFileName" >
                            </div>
                            <div class="col-md-3" style="padding-top:32px;" id="imgControl">
                                <button class="btn btn-dark" id="uploadBtn" style="display: block">이미지 업로드</button>
                                <!--<button class="btn btn-success" id="defaultSuccess" style="display: none;" disabled>업로드 완료</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" id="weeklyUpdateBtn"> 수정 </button>
                        <button class="btn btn-primary" id="weeklyDeleteBtn"> 삭제 </button>
                        <button class="btn btn-dark" onclick="history.back();"> 취소 </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        let authCnt  = 0;
        /*Ready Start*/
        $(function (){
            /*CKeditor - 도서 상세*/
            CKEDITOR.replace("inputContent", {
                filebrowserUploadUrl: '/file/ckeditor/image/upload',
                filebrowserUploadMethod: 'form',
                font_names:
                        '맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana',
                font_defaultLabel: '맑은 고딕/Malgun Gothic',
                fontSize_defaultLabel: '12',
                skin: 'office2013',
                language: 'ko',
            });

            /*주간논평*/
            main.getWeeklyData($("#selectedWeeklySeq").val());
            /*저자 정보 조회*/
            main.getAuthData($("#selectedWeeklySeq").val());
        });
        /*Ready End*/
    </script>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script src="/js/weekly-comment.js"></script>
{{>layouts/footer}}