{{>layouts/header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">게시글 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">게시글 관리</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary" onclick="location.href='/post/insert'"> 게시글 등록 </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-md-1"> 번호 </th>
                                    <th class="col-md-4"> 제목 </th>
                                    <th class="col-md-1"> 노출 여부 </th>
                                    <th class="col-md-1"> 등록일 </th>
                                    <th class="col-md-1"> 수정일 </th>
                                    <th class="col-md-1"> 조회수 </th>
                                </thead>
                                <tbody id="weeklyCommentList">
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagingNav">
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/weekly-comment.js"></script>
    <script>
        $(document).ready(function (){

            main.getWeeklyList(1, 10);


        });
    </script>
    {{>layouts/footer}}