<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.changbi.magazineadmin.controller.member.domain.Member" alias="member" />
        <typeAlias type="com.changbi.magazineadmin.controller.weekly_comment.domain.WeeklyComment" alias="weeklyComment" />
        <typeAlias type="com.changbi.magazineadmin.controller.weekly_comment.domain.WeeklyCommentCategory" alias="weeklyCommentCategory" />
        <typeAlias type="com.changbi.magazineadmin.controller.author.domain.Author" alias="author" />
        <typeAlias type="com.changbi.magazineadmin.controller.weekly_comment.domain.WeeklyMeta" alias="authMeta"></typeAlias>


    </typeAliases>


</configuration>

