{{>layouts/header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">  프로젝트</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">index</li>
            </ol>

            <div class="container row" style="float: none; margin:auto;">
                <div class="col-md-3" style="float: none; margin:auto;">
                    <img src="/images/logo_01.gif" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">copyright (c) Changbi Publishers, Inc. All Rights Reserved.</div>
            </div>
        </div>
    </footer>
</div>
</div>
<script type="text/javascript">
</script>


{{>layouts/footer}}
