<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changbi.magazineadmin.repository.oracle.MemberRepository">

    <select id="selectMemberAll" resultType="member">
        SELECT
            CUSTOMERCODE
            ,CUSTOMERNAME
            ,CUSTOMERKIND
            ,EMAIL
            ,WEBUSERID
            ,NICKNAME
            ,MOBILENO
            ,JOINDATE
            ,UPDATEDATE
            ,WEBUSERTYPE
            ,WEBUSERCONFIRMYN
            ,POSTNO1
            ,ADDRESS1_1
            ,ADDRESS1_2
        FROM
            G_CUSTOMERCODE
        WHERE
            WEBUSERID IS NOT NULL
        AND
            ROWNUM <![CDATA[ <= ]]>  200
    </select>

</mapper>