{{>layouts/header}}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">구독권 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">구독권 관리</li>
                <li class="breadcrumb-item active">구독권 등록</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputKrNm"> 상품명 </label>
                                <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                <input type="text" class="form-control " id="inputTitle" placeholder="상품명을 입력해 주세요" required>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="helpInputTop">노출 여부</label>
                                <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                <fieldset class="form-control">
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inputYn" value="true" checked>
                                            <label class="form-check-label" for="inputYn">Y</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inputYn" value="false">
                                            <label class="form-check-label" for="inputYn">N</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="helpInputTop">판매 기간</label>
                            <div class="col-2">
                                <input type="date" class="form-control" name="inputStartDate" id="inputStartDate">
                            </div>
                            <div class="col-2">
                                <input type="time" class="form-control" name="inputStartTime" id="inputStartTime">
                            </div>
                            <div class="col-auto"><h4>-</h4></div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="inputEndDate" id="inputEndDate">
                            </div>
                            <div class="col-2">
                                <input type="time" class="form-control" name="inputEndTime" id="inputEndTime">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputTitle"> 가격 </label>
                                    <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                    <input type="number" class="form-control " id="inputPrice" placeholder="가격을 입력해 주세요" required>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputIsbn"> 할인율(%) </label>  <button class="btn-dark" id="directInputDiscount">직접 입력</button>
                                    <div id="discountDiv" class="row">
                                        <select class="form-control" name="inputDiscountRate" id="inputDiscountRate">
                                            <option value="0">0 %</option>
                                            <option value="10">10%</option>
                                            <option value="20">20%</option>
                                            <option value="30">30%</option>
                                            <option value="40">40%</option>
                                            <option value="50">50%</option>
                                            <option value="60">60%</option>
                                            <option value="70">70%</option>
                                            <option value="80">80%</option>
                                            <option value="90">90%</option>
                                            <option value="100">100%</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputIsbn"> 상품 기간(일) </label>  <button class="btn-dark" id="directInputPeriod">직접 입력</button>
                                    <div id="periodDiv">
                                        <select class="form-control" name="inputPeriod" id="inputPeriod">
                                            <option value="" selected disabled>기간을 선택해주세요.</option>
                                            <option value="10">10일</option>
                                            <option value="365">1년</option>
                                            <option value="530">2년</option>
                                            <option value="1095">3년</option>
                                            <option value="1825">5년</option>
                                            <option value="3650">10년</option>
                                            <option value="5475">15년</option>
                                            <option value="10950">30년</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group mb-3">
                                <label for="inputContent">상품 소개</label>
                                <textarea class="form-control" id="inputContent" rows="13"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!--file upload test-->
                            <div class="col-md-6">
                                <label class="form-label" for="fileUploadTest">상품 이미지</label>
                                <input type="file" class="form-control" id="inputFile" name="inputFile" >
                                <input type="hidden" id="uploadValid" value="N">
                                <input type="hidden" id="productImageFile" >
                                <input type="hidden" id="productImageFileName" >
                            </div>
                            <div class="col-md-3" style="padding-top:32px;" id="imgControl">
                                <button class="btn btn-danger" id="uploadBtn" style="display: block">업로드</button>
                                <!--<button class="btn btn-success" id="defaultSuccess" style="display: none;" disabled>업로드 완료</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" id="productInsertBtn"> 등록 </button>
                        <button class="btn btn-dark" onclick="history.back();"> 취소 </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script src="/js/product.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){

            $("#inputDiscountRate").on("change", function (){
                $("#rateViewer").val($("#inputDiscountRate").val() + "%")
            });

            $("#directInputDiscount").on("click", function (){
                $("#discountDiv").empty();
                let html = '<input type="number" class="form-control" name="inputDiscountRate" id="inputDiscountRate" value="0">';
                $("#discountDiv").html(html);
            });

            $("#directInputPeriod").on("click", function (){
                $("#periodDiv").empty();
                let html = '<input type="number" class="form-control" name="inputPeriod" id="inputPeriod" value="0">';
                $("#periodDiv").html(html);
            });

            /*CKeditor - 상품 상세*/
            CKEDITOR.replace("inputContent", {
                filebrowserUploadUrl: '/file/ckeditor/image/upload',
                filebrowserUploadMethod: 'form',
                font_names:
                        '맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana',
                font_defaultLabel: '맑은 고딕/Malgun Gothic',
                fontSize_defaultLabel: '12',
                skin: 'office2013',
                language: 'ko',
                height: '350px'
            });
        });
    </script>
{{>layouts/footer}}