{{>layouts/header}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">상품 관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">상품 목록</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary" onclick="location.href='/product/insert'"> 상위 상품 등록 </button>
                        <input class="align-self-end" type="text" name="searchKeyword" id="searchKeyword" >
                        <!--<select name="searchType" id="searchType">
                            <option value="0" selected> 전체 </option>
                            <option value="1" >   프로젝트 </option>
                            <option value="2" >   프로젝트어린이 </option>
                            <option value="3" >   프로젝트 L </option>
                        </select>-->
                        <button id="searchBtn">상품 검색</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="col-md-1"> 번호 </th>
                                    <th class="col-md-1"> 카테고리 </th>
                                    <th class="col-md-2"> 상위 상품명 </th>
                                    <th class="col-md-1"> 사용여부 </th>
                                    <th class="col-md-1"> 등록일 </th>
                                    <th class="col-md-1"> 수정일 </th>
                                </thead>
                                <tbody id="magazineList">
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagingNav">
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/product.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            main.getMagazineList(1,10);
        });
    </script>
{{>layouts/footer}}