{{>layouts/header}}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">계간지 등록</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/index">홈</a></li>
                <li class="breadcrumb-item active">계간지</li>
                <li class="breadcrumb-item active">계간지 등록</li>
            </ol>
            <div class="card mb-4">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="inputTitle"> 계간지 명 </label>
                                    <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                    <input type="text" class="form-control " id="inputTitle" placeholder="제목을 입력해 주세요" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 form-check-inline">
                                <label for="inputUseYn">노출 여부</label>
                                <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inputUseYn" id="useY" value="true" checked>
                                            <label class="form-check-label" for="useY">Y</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inputUseYn" id="useN" value="false">
                                            <label class="form-check-label" for="useN">N</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-3 form-check-inline">
                                <label for="inputCategory">카테고리</label>
                                <small class="text-muted"><sup  style="color:red;">*</sup></small>
                                <div class="form-group">
                                    <select name="inputCategory" id="inputCategory" required>
                                        <option value="1" selected> 계간 창작과비평 </option>
                                        <option value="2" > 계간 창비어린이 </option>
                                        <option value="3" > 계간 창작과비평 L </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 form-check-inline">
                                <label for="inputInformation">계간지 정보</label>
                                <small class="text-muted"><sup  style="color:red;">*</sup></small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <select class="form-control" name="inputYear" id="inputYear">
                                    <script type="text/javascript">
                                        $(document).ready(function (){
                                            if(main.getMagazineYears()){
                                                main.selectNowYear();
                                            }
                                        });
                                    </script>
                                </select>
                            </div>
                            <div class="col-md-1">년</div>
                            <div class="col-md-1">
                                <select class="form-control" name="inputSeason" id="inputSeason">
                                    <option value="1">봄</option>
                                    <option value="2">여름</option>
                                    <option value="3">가을</option>
                                    <option value="4">겨울</option>
                                </select>
                            </div>
                            <div class="col-md-1"> </div>
                            <div class="col-md-1">
                                <input type="number" class="form-control" name="inputVolume" id="inputVolume" placeholder="호수">
                            </div>
                            <div class="col-md-1">
                                <span>호</span>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="form-group mb-3">
                                <label for="inputContent"> 계간지 본문 </label>
                                <textarea class="form-control" id="inputContent" rows="13"></textarea>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="inputArticleHead"> 기사 헤드 타이틀 (Chapter)</label>
                            <small class="text-muted"><sup  style="color:red;">*</sup></small>
                            <button type="button" id="addArticleHeadBtn">추가</button>
                            <div id="articleHeadDiv"></div>
                        </div>

                        <!--표지 이미지 업로드 START-->
                        <div class="row">
                            <!--file upload test-->
                            <div class="col-md-6">
                                <label class="form-label" for="inputImage">섬네일 이미지</label>
                                <input type="file" class="form-control" id="inputFile" name="inputFile" >
                                <input type="hidden" id="uploadValid" value="N">
                                <input type="hidden" id="magazineThumbnailImage" >
                                <input type="hidden" id="magazineThumbnailImageFileName" >
                            </div>
                            <div class="col-md-3" style="padding-top:32px;" id="imgControl">
                                <button class="btn btn-dark" id="uploadBtn" style="display: block">이미지 업로드</button>
                                <!--<button class="btn btn-success" id="defaultSuccess" style="display: none;" disabled>업로드 완료</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" id="magazineInsertBtn"> 등록 </button>
                        <button class="btn btn-dark" onclick="history.back();"> 취소 </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">

        let articleCnt = 0;

        /*Ready Start*/
        $(function (){
            /*CKeditor - 계간지 상세*/
            CKEDITOR.replace("inputContent", {
                filebrowserUploadUrl: '/file/ckeditor/image/upload',
                filebrowserUploadMethod: 'form',
                font_names:
                        '맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana',
                font_defaultLabel: '맑은 고딕/Malgun Gothic',
                fontSize_defaultLabel: '12',
                skin: 'office2013',
                language: 'ko',
                height: '350px'
            });
        });
        /*Ready End*/
    </script>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script src="/js/magazine.js"></script>
{{>layouts/footer}}